<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update item</title>
</head>
<body>
    <h1>Update Item</h1>
    <form action="/product/<%= product.id %>?_method=PUT" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name %>">
        <label for="price">Price</label>
        <input type="number" name = 'price' id = 'price' placeholder="price" value="<%= product.price %>">
        <label for="category">Select category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%= category %>" <%= product.category === category ? 'selected' : ''%>><%= category %></option>
            <% } %>
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>